<div class="card my-3 mx-auto border">
    <div class="card-header py-1 d-flex bg-white">
        <div>
            <strong>{{ post.user.username }}</strong> &bullet; <span class="text-muted">{{ post.timestamp|time_ago }}</span>
        </div>
        <div class="ml-auto">
            {% if current_user.is_authenticated and current_user.id == post.user.id %}
            <a href="{{ url_for('edit', id=post.id, next=request.path) }}"><i class="material-icons">edit</i><span class="hide">Edit </span></a>
            <a href="{{ url_for('delete', id=post.id, next=request.path) }}"><i class="material-icons">delete</i><span class="hide">Delete </span></a>
            {% endif %}
        </div>
    </div>
    <div class="card-body py-1">
        <p class="card-text">{{ post.text }}</p>
    </div>
    <div class="card-footer py-1 d-flex bg-white">
        {% if current_user.is_authenticated %}
        <a href="#" 
           id="unfav_{{ post.id }}"
           onclick="fav_change('fav', {{ post.id }}); return false;" 
           class="card-link ml-0 mr-3"
           {% if current_user.likes(post) %}style="display:none"{% endif %}>
            <i class="material-icons">favorite_border</i>
        </a>
        <a href="#" 
           id="fav_{{ post.id }}"
           onclick="fav_change('unfav', {{ post.id }}); return false;"
           class="card-link ml-0 mr-3"
           {% if not current_user.likes(post) %}style="display:none"{% endif %}>
            <i class="material-icons">favorite</i>
        </a>
        {% endif %}
        <p class="card-text text-muted">
            <span id="likes_{{ post.id }}">{{ post.likers.count() }}</span> likes
        </p>
    </div>
</div>